<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pateluFinalProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79D68F041C8CE7050006EF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79D68F181C8CE7060006EF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79D68F231C8CE7060006EF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
